.service-container {
  width: 100%;
  height: 100%;
}
.service-container .sc-top {
  padding: 5rem;
}
.service-container .sc-top .bc {
  font-family: "semi";
  text-align: center;
}
.service-container .sc-top .bc .current-tab {
  color: blue;
}
.service-container .sc-top .sub {
  text-align: center;
  margin-top: -3rem;
}
.service-container .sc-top .counts-holder {
  width: 80%;
  padding: 2rem;
  display: flex;
  margin: 3rem auto;
  box-shadow: 1px 1px 1px gray;
  align-items: center;
  justify-content: space-between;
}
.service-container .sc-top .counts-holder div {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.service-container .sc-top .counts-holder div img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.6rem;
  background-color: blue;
}
.service-container .sc-top .counts-holder div div {
  flex-direction: column;
  align-items: unset;
  display: flex;
  gap: 0rem;
  margin-left: 1rem;
}
.service-container .sc-top .counts-holder div div h2 {
  font-size: 1.6rem;
  font-family: "bold";
}
.service-container .sc-top .counts-holder div div p {
  font-size: 1.2rem;
}
.service-container .sc-top .video-holder-div {
  display: flex;
  align-items: center;
}
.service-container .sc-top .video-holder-div .vid-div {
  display: flex;
  height: 30rem;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
}
.service-container .sc-top .video-holder-div .vid-div .video-item {
  width: 100%;
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-container .sc-top .video-holder-div .vid-div .play-btn {
  z-index: 3;
  width: 3rem;
  height: 3rem;
}
.service-container .sc-top .video-holder-div .video-ditails-div {
  width: 50%;
  padding-left: 3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.service-container .sc-top .video-holder-div .video-ditails-div h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.service-container .sc-top .video-holder-div .video-ditails-div p {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.service-container .sc-top .video-holder-div .video-ditails-div p img {
  margin-right: 0.5rem;
  width: 1.5rem;
  background-color: green;
  border-radius: 50%;
  height: 1.5rem;
}
.service-container .sc-top .service-box {
  display: flex;
  padding: 5rem 0;
  justify-content: space-between;
  height: 40rem;
}
.service-container .sc-top .service-box .text-side {
  width: 50%;
}
.service-container .sc-top .service-box .text-side h3 {
  font-size: 2rem;
}
.service-container .sc-top .service-box .text-side p {
  width: 80%;
  margin-top: 2rem;
}
.service-container .sc-top .service-box .text-side .button-sharp {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2rem;
  color: white;
  background-color: blue;
  margin-top: 2rem;
}
.service-container .sc-top .service-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40rem;
  height: 100%;
}
.service-container .sc-top .odd {
  flex-direction: row-reverse !important;
}/*# sourceMappingURL=Service.css.map */