.home-container {
  width: 100%;
  height: 40rem;
  align-items: center;
}
.home-container .hero-section {
  display: flex;
  height: 100%;
  width: 100%;
}
.home-container .hero-section .hs-left {
  width: 50%;
  padding: 0 0 0 5rem;
  display: flex;
  flex-direction: column;
}
.home-container .hero-section .hs-left .biz-cat {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: "semi";
  color: orange;
}
.home-container .hero-section .hs-left h1 {
  font-family: "bold";
  font-size: 5rem;
}
.home-container .hero-section .hs-left p {
  margin-top: 2rem;
  font-size: 1rem;
}
.home-container .hero-section .hs-left button {
  all: unset;
  background-color: orange;
  color: white;
  padding: 0.8rem 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 2rem;
  border-radius: 25px;
  outline: 1px solid orange;
}
.home-container .hero-section .hs-left button:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}
.home-container .hero-section .hs-right {
  padding: 0 5rem 0 0;
  width: 50%;
}
.home-container .hero-section .hs-right .hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-container .holder-one {
  width: 100%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}
.home-container .holder-one h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.home-container .holder-one p {
  max-width: 50%;
  margin-bottom: 2rem;
}
.home-container .holder-one .image-holder-one {
  position: relative;
  height: 30rem;
  width: 80%;
}
.home-container .holder-one .image-holder-one img {
  -o-object-fit: cover;
     object-fit: cover;
}
.home-container .holder-one .image-holder-one .main-img {
  width: 100%;
  height: 100%;
}
.home-container .holder-one .image-holder-one .art-img {
  height: 10rem;
  width: 14rem;
  position: absolute;
  top: 5;
  right: 0;
}
.home-container .sub-title-p {
  width: 40%;
  margin: auto;
  margin-top: -3rem;
  text-align: center;
}
.home-container .offer-box {
  width: 100%;
  gap: 2rem;
  padding: 0 5rem;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 3rem;
  display: flex;
}
.home-container .offer-box .offer-item-holder {
  width: 20rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-container .offer-box .offer-item-holder .offer-art {
  width: 3rem;
  padding: 0.5rem;
  background-color: orange;
  height: 3rem;
  border-radius: 50%;
}
.home-container .offer-box .offer-item-holder p {
  margin: 1.5rem 0;
}
.home-container .offer-box .offer-item-holder .offer-arrow {
  padding: 0.7rem;
  width: 3rem;
  height: 3rem;
}
.home-container .holder-two {
  margin-top: 5rem;
  background-color: gray;
  padding: 5rem;
}
.home-container .holder-two .ht-top {
  display: flex;
  justify-content: space-between;
}
.home-container .holder-two .ht-top div h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.home-container .holder-two .ht-top div p {
  margin-bottom: 2rem;
  width: 70%;
}
.home-container .holder-two .ht-top .btn-holder {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.home-container .holder-two .ht-top .btn-holder .btn-arr {
  width: 2.5rem;
  background-color: white;
  border-radius: 50%;
  padding: 0.6rem;
  height: 2.5rem;
}
.home-container .holder-two .ht-bottom {
  display: flex;
  gap: 2rem;
  cursor: e-resize;
  overflow-x: scroll;
}
.home-container .holder-two .ht-bottom .ht-bottom-item {
  min-width: 20rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}
.home-container .holder-two .ht-bottom .ht-bottom-item h3 {
  border-radius: 10px;
  background-color: olivedrab;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: green;
  padding: 0.5rem 2rem;
  font-family: "mid";
}
.home-container .holder-two .ht-bottom .ht-bottom-item p {
  line-height: 1.5rem;
}
.home-container .holder-two .ht-bottom .ht-bottom-item h1 {
  font-size: 2rem;
}
.home-container .holder-two .ht-bottom .ht-bottom-item div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.home-container .holder-two .ht-bottom .ht-bottom-item div p {
  align-items: center;
  display: flex;
  color: orange;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.home-container .holder-two .ht-bottom .ht-bottom-item div p img {
  margin-left: 0.3rem;
  width: 1.2rem;
}
.home-container .holder-two .ht-bottom .ht-bottom-item div p:hover {
  color: red;
  cursor: pointer;
}
.home-container .holder-two .ht-bottom .ht-bottom-item div p:hover img {
  margin-left: 0.7rem;
}
.home-container .projects {
  width: 100%;
  padding: 5rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.home-container .projects .project {
  border-radius: 10px;
  overflow: hidden;
  width: 30%;
  height: 12rem;
  position: relative;
}
.home-container .projects .project img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.home-container .projects .project div {
  width: 100%;
  z-index: 2rem;
  position: absolute;
  height: 100%;
  display: none;
  background-color: rgba(255, 166, 0, 0.496);
}
.home-container .projects .project div h5 {
  width: 100%;
  display: flex;
  height: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: orange;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=Home.css.map */