.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 5;
  height: max-content;

  .top-div {
    width: 100%;
    padding: 0 5rem;
    height: 2rem;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      font-size: 0.9rem;
      display: flex;
      font-family: "mid";
      margin-left: 4rem;
      align-items: center;
      img {
        width: 2rem;
        margin-right: 0.5rem;
        object-fit: cover;
        padding: 0.2rem;
        height: 2rem;
      }
    }
  }
  .bottom-div {
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #4b4bff;
    height: 5rem;
    p {
      font-size: 2rem;
      font-family: "bold";
      color: white;
    }
    ul {
      display: flex;
      gap: 3rem;
      align-items: center;
      li {
        list-style: none;
        a {
          padding: 0.5rem 2rem;
          border-radius: 5px;
          font-family: "semi";
          text-decoration: none;
          color: white;
          &:hover {
            background-color: white;
            color: #4b4bff;
          }
        }
        .active-tab {
          display: flex;
          align-items: center;
          background-color: white;
          color: #4b4bff;

          &::before {
            width: 5px;
            margin-right: 0.5rem;
            height: 5px;
            border-radius: 50%;
            background-color: #4b4bff;
            display: block;
            content: "";
          }
        }
      }
    }
  }
}
