.footer-container {
  .main-h3 {
    padding: 5rem 0 0 5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .main-p {
    padding-left: 5rem;
    max-width: 40%;
  }
  .loop-div {
    padding: 5rem;

    .loop {
      height: max-content;
      display: flex;
      color: white;
      background-color: black;
      div {
        width: 50%;
        h3 {
          padding: 2rem 0 0 2rem;
        }
        .pp {
          padding: 0 0 2rem 2rem;
          width: 100%;
        }
        .input-holder {
          width: 10rem;
          input {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .footer-end {
    padding: 5rem;
    background-color: black;
    color: white;
    justify-content: space-between;
    display: flex;
    div {
      &:first-child {
        width: 30%;
        p {
          margin-top: 2rem;
        }
        .end-logo {
          font-size: 1.5rem;
          font-family: "semi";
        }
      }

      &:nth-child(3) {
        width: 25%;
        p {
          margin-bottom: 0.5rem;
        }
        h5 {
          font-size: 1.5rem;
          margin-bottom: 2rem;
          font-family: "semi";
        }
      }
      &:nth-child(2) {
        p {
          margin-bottom: 0.5rem;
          &:hover {
            color: orange;
            cursor: pointer;
          }
        }
        h5 {
          font-size: 1.5rem;
          margin-bottom: 2rem;
          font-family: "semi";
        }
      }
      &:nth-child(4) {
        display: flex;
        align-items: baseline;
        div {
          display: flex;
          gap: 1rem;
          img {
            width: 2.5rem;
            background-color: white;
            border-radius: 50%;
            padding: 0.4rem;
            height: 2.5rem;
          }
        }
      }
    }
  }
  .end {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
  }
}
